[Unit]
Description=Forward ports for services
After=network.target sshd.service

[Service]
Type=simple
ExecStart=sudo -u {{service_user}} {{path}}/service_tunnel.sh
ExecStop=/bin/systemctl kill service_tunnel
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
